/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



 *= todo_list

 */
/* Get the bourbon mixin from http://bourbon.io */
/* Reset */

.flip-clock-wrapper * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc; }

.flip-clock-wrapper a:hover {
  color: #fff; }

.flip-clock-wrapper ul {
  list-style: none; }

.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table; }

.flip-clock-wrapper.clearfix:after {
  clear: both; }

.flip-clock-wrapper.clearfix {
  *zoom: 1; }

/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none; }

.flip-clock-meridium {
  background: none !important;
  font-size: 36px !important; }

.flip-clock-meridium a { color: #313333; }

.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}

.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.flip-clock-wrapper:after {
    clear: both;
}

/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 140px;
  height: 210px;
/*    width: 140px;
  height: 210px;*/
  font-size: 80px;
  font-weight: bold;
  line-height: 87px;
  border-radius: 6px;
  background: white;
}

.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 87px;
  text-decoration: none !important;
}

.flip-clock-wrapper ul li:first-child {
  z-index: 2; }

.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important; }

.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 80px;
  overflow: hidden;
  outline: 1px solid transparent;
  font-size: 181px;}

.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 98%;
  z-index: 6;
  border-bottom: solid 2px #D6D5D5; }

.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0; }

.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 101px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 5px;
  background-color: white;
  background-color: #449BB6; }

.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #043d5d;
  font: 'Lato Light';
  font-weight: 300;
  text-align: center;
  background-color: white;
  border-radius: 6px;
  font-size: 160px;
  padding-top: 59px;
}

.flip-clock-wrapper ul li a div.up div.inn {
  top: 0; }

.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0; }

/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3; }

.flip-clock-wrapper .flip {
  box-shadow: 0 8px 2px -5px #545454;}

.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5; }

.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100px;
  display: none;}

.flipclock-small-text {
  color: #22222;
  font-size: 10px;
  font-weight: 300;
  position: absolute;
  left: 200px;
  top: 345px;
  font-family: 'lato';}

.flipclock-small-text-seconds {
  margin-left: 265px;

}



.flip-clock-divider:first-child {
  width: 0; }

.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  left: 5px; }

.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: white;
  text-shadow: none; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -88px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -91px; }

.flip-clock-dot.top {
  top: 30px; }

.flip-clock-dot.bottom {
  bottom: 30px; }

@-webkit-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-moz-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@-o-keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

@keyframes asd {
  0% {
    z-index: 2; }

  20% {
    z-index: 4; }

  100% {
    z-index: 4; } }

.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both; }

@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg); }

  100% {
    -webkit-transform: rotateX(0deg); } }

@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg); }

  100% {
    -moz-transform: rotateX(0deg); } }

@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg); }

  100% {
    -o-transform: rotateX(0deg); } }

@keyframes turn {
  0% {
    transform: rotateX(90deg); }

  100% {
    transform: rotateX(0deg); } }

.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both; }

@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg); }

  100% {
    -webkit-transform: rotateX(-90deg); } }

@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg); }

  100% {
    -moz-transform: rotateX(-90deg); } }

@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg); }

  100% {
    -o-transform: rotateX(-90deg); } }

@keyframes turn2 {
  0% {
    transform: rotateX(0deg); }

  100% {
    transform: rotateX(-90deg); } }

.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3; }

/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both; }

/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both; }

.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, white 25%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, white), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background: linear, top, white 25%, rgba(0, 0, 0, 0.5) 100%;
  background: -o-linear-gradient(top, white 25%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(top, white 25%, rgba(0, 0, 0, 0.5) 100%);
  background: linear, to bottom, white 25%, rgba(0, 0, 0, 0.5) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both; }

@-webkit-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes show {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-o-keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes hide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

.timer-container { 
  position: relative;
  margin: 0 auto ;
  top: 50px;
  width: 800px;
  padding-left: 100px;
}
.smallblock, .smallblock2, .smallblock3, .smallblock4, .smallblock5, .smallblock6, .smallblock7, .smallblock8 {
  background-color: #449BB6;
  width: 6px;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 208px;
  left: 115px;
  z-index: 1000;
  border-radius: 1px;
  border-top: solid 2px #D6D5D5;}

  .smallblock2 {
    left: 251px;
  }

  .smallblock3 {
    left: 265px;
  }

  .smallblock4 {
    left: 400px;
  }

  .smallblock5 {
    left: 415px;
  }

  .smallblock6 {
    left: 552px;
  }

  .smallblock7 {
    left: 565px;
  }

  .smallblock8 {
    left: 701px;
  }
  .blockcontent, .blockcontent1, .blockcontent2, .blockcontent3, .blockcontent4, .blockcontent5 {
    display: inline-block;
    width: 15px;
    background: #449BB6;
    height: 39px;
    position: absolute;
    z-index: 1000;
    border-radius: 2px;
    top: 210px;
  }
  .blockcontent1 {
    left: 101px;
  }

  .blockcontent2 {
    left: 251px;
  }

  .blockcontent3 {
    left: 401px;
  }

  .blockcontent4 {
    left: 552px;
  }

  .blockcontent5 {
    left: 701px;
    width: 30px;
    height: 40px;
    top: 210px;
  }

  .border-bottom {
    border-bottom: solid 2px #D6D5D5;
  }

  .timer-button {
    border-radius: 5px;
    border: 1px solid white;
    background-color: inherit;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: white;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    outline: 0;
    margin-left: 15px;
  }

  .title { 
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 32px;
    margin-left: 10%;
    color: white;
  }

  #fifteen { 
    margin-left: 120px;
  }

  .timer-button:hover {
    background-color: #73B4C8;
    cursor: pointer;
  }

h1,h2,h3,p, span, input{
  font-family: 'Lato', sans-serif;
}
/* General styles for all menus */
/* line 32, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu {
  background: white;
  position: fixed;
}
/* line 38, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu ul {
  padding-left: 2px;
}
/* line 41, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu h3 {
  font-size: 1.9em;
  padding: 18px;
  margin: 0;
  font-weight: 300;
  text-align: center;
  border-bottom: 4px double white;
  display: inline-block;
}
/* line 50, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu a, .spmenu label {
  display: block;
  color: black;
  font-size: 1.1em;
  font-weight: 300;
}
/* line 55, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu a:hover, .spmenu label:hover {
  background: white;
}
/* line 58, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu a:active, .spmenu label:active {
  background: white;
  color: white;
}
/* line 62, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu a span, .spmenu label span {
  color: black;
}
/* line 65, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu a input, .spmenu label input {
  margin: 5px 10px 0 0 !important;
}
/* line 68, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu a from, .spmenu label from {
  display: inline-block;
}

/* Button */
/* line 75, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
a.spmenu-button {
  display: none;
  position: absolute;
  top: 400px;
  border: none;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  background: white;
  text-decoration: none;
  border: none !important;
}
/* line 86, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
a.spmenu-button.show {
  display: block;
  padding: 5px;
}

/* Orientation-dependent styles for the content of the menu */
/* line 94, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-vertical {
  width: 320px;
  height: 100%;
  top: 0;
  z-index: 1000;
}
/* line 99, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-vertical a, .spmenu-vertical label {
  padding: 0;
}
/* line 102, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-vertical hr {
  margin: 0;
  border: 0;
  border-top: 1px solid white;
}
/* line 107, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-vertical .menu-item-actions, .spmenu-vertical .menu-item-edit-actions {
  margin-top: 10px;
}
/* line 109, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-vertical .menu-item-actions a, .spmenu-vertical .menu-item-edit-actions a {
  display: inline;
}
/* line 112, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-vertical .menu-item-actions i, .spmenu-vertical .menu-item-edit-actions i {
  color: white;
}
/* line 115, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-vertical .menu-item-actions .menu-item-action-separator, .spmenu-vertical .menu-item-edit-actions .menu-item-action-separator {
  color: white;
  display: inline-block;
  position: relative;
  top: -2px;
  margin: 0 5px;
}

/* line 125, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-horizontal {
  width: 100%;
  height: 150px;
  left: 0;
  z-index: 1000;
  /*overflow: hidden;*/
}
/* line 131, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-horizontal h3 {
  height: 100%;
  width: 20%;
  float: left;
}
/* line 136, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-horizontal a, .spmenu-horizontal label {
  float: left;
  width: 20%;
  padding: 0.8em;
}
/* line 141, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-horizontal hr {
  margin: 0;
  border: 0;
  border-left: 1px solid white;
}

/* Vertical menu that slides from the left or right */
/* line 150, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-left {
  left: -320px;
  border-right: 1px solid #f6f6f6;
}
/* line 153, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-left a.spmenu-button {
  left: 320px;
  top: 10px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 165, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-right {
  z-index: 150000;
  right: -320px;
}
/* line 168, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-right a.spmenu-button {
  right: 320px;
  top: 240px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Horizontal menu that slides from the top or bottom */
/* line 182, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-top {
  top: -150px;
  border-bottom: 1px solid #f6f6f6;
}
/* line 185, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-top a.spmenu-button {
  left: 10px;
  top: 150px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 197, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-bottom {
  bottom: -150px;
  border-top: 1px solid #f6f6f6;
}
/* line 200, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-bottom a.spmenu-button {
  left: 10px;
  bottom: 150px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}

/* Push classes applied to the body */
/* line 214, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

/* line 220, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-push-toright {
  left: 320px;
}

/* line 224, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu-push-toleft {
  left: -320px;
}

/* Transitions */
/* line 230, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.spmenu, .spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
  /* line 239, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
  .spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }

  /* line 243, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
  .spmenu-top {
    top: -110px;
  }

  /* line 246, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
  .spmenu-bottom {
    bottom: -110px;
  }
}
@media screen and (max-height: 26.375em) {
  /* line 252, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
  .spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }

  /* line 256, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
  .spmenu-left, .spmenu-push-toleft {
    left: -190px;
  }

  /* line 259, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
  .spmenu-right {
    right: -190px;
  }

  /* line 262, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
  .spmenu-push-toright {
    left: 190px;
  }
}
/* line 267, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.opacitychange {
  opacity: .9 !important;
}

/* line 272, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todo-title {
  font-weight: 100;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
}

/* line 279, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.img-plus-sign {
  position: relative;
  top: 13px;
}

/* line 284, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.img-pencil {
  position: relative;
  top: 9px;
}

/* line 289, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.img-checkmark {
  position: relative;
  top: 10px;
  opacity: .1;
  left: 10px;
}

/* line 296, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todo-item {
  border-width: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  border-top: solid #F6F6F6 1px;
}

/* line 303, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todo-exitbutton {
  font-size: 40px;
  position: absolute;
  left: 280px;
  top: 10px;
}

/* line 310, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todo-item-margin {
  position: relative;
  left: 15px;
}

/* line 314, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todoclosed {
  right: -320px;
}

/* line 318, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todo-inline-edit {
  font-family: 'Lato-light', sans-serif;
  font-size: 16px;
  font-weight: 550;
  border: none;
  position: absolute;
  left: 38px;
  bottom: -1px;
  cursor: text;
}

/* line 329, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todo-cancel-button {
  position: absolute;
  left: 290px;
  margin-top: -20px;
  opacity: .6;
}

/* line 335, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todo-edit-button {
  position: relative;
  left: 150px;
  top: 2px;
}

/* line 341, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.todo-input {
  text-align: left;
  padding-left: 51px;
  font-size: 16px;
  display: inline-block;
  height: 40px;
  width: 320px;
}

/* line 350, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
input[type=text]:focus, input[type=text]:active, input[type=text]:focus:active {
  outline: 0;
}

/* line 354, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/todo_list.scss */
.noshadow {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
/* line 10, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
div, main, input {
  outline: none !important;
}

/* line 14, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
button:focus {
  outline: 0;
}

/* line 15, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
input:focus {
  outline: none;
}

/* line 16, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
input {
  border: 0;
  outline: none;
}

/* line 18, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
header {
  background-color: #1f1f1f;
  position: fixed;
  top: 0;
  width: 101%;
  margin-left: -1%;
  height: 50px;
  z-index: 1001;
}

/* line 28, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
body {
  background-color: #449BB6;
  margin-bottom: 0px;
}

/* line 33, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
button {
  outline: 0;
  cursor: pointer;
}

/* line 38, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.flat-ui-button {
  border: none;
  color: white;
  background-color: #68C49F;
  font-family: 'lato';
  font-weight: 400;
  font-size: 14px;
  border-radius: 5px;
  padding: 15px;
  padding-left: 80px;
  padding-right: 80px;
  margin-left: 110px;
  margin-top: 20px;
}

/* line 53, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.flat-ui-button:hover {
  background-color: #7BD1AE;
}

/* line 64, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.logo {
  padding: 5px;
  padding-left: 40px;
  padding-bottom: 17px;
}

/* line 70, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.header-buttons {
  margin-left: 70%;
  display: inline-block;
  color: white;
}

/* line 76, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.header-button {
  margin-left: 5%;
  display: inline-block;
  font-weight: 100;
  font-size: 14px;
  position: relative;
  bottom: 20px;
}

/* line 85, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#about {
  left: 85px;
  width: 56px;
  bottom: 38px;
  position: relative;
  width: 100px;
}

/* line 93, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.header-button:hover {
  cursor: pointer;
}

/* line 99, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.addButton {
  top: 190px !important;
}

/* line 103, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#stop-button {
  font-size: 14px;
  font-weight: 400;
  padding-left: 80px !important;
  padding-right: 80px !important;
  margin-left: 15px;
  margin-top: 20px;
}

/* line 111, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.upvote {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid #1D354C;
  position: relative;
  left: 9px;
  top: 8px;
}

/* line 122, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.downvote {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 15px solid #1D354C;
  position: relative;
  left: 9px;
  top: 12px;
}

/* line 135, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#progressbar {
  background-color: black;
  border-radius: 8px;
  padding: 3px;
  width: 400px;
}

/* line 142, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#progressbar div {
  background-color: #0063C6;
  width: 50%;
  height: 10px;
  border-radius: 5px;
  animation: loadbar 2s;
  -webkit-animation: loadbar 2s;
}

@keyframes loadbar {
  /* line 152, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
  0% {
    width: 0%;
  }

  /* line 155, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
  100% {
    width: 50%;
  }
}

@-webkit-keyframes loadbar {
  /* line 161, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
  0% {
    width: 0%;
  }

  /* line 164, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
  100% {
    width: 50%;
  }
}

/* line 171, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#container {
  display: inline-block;
  margin-left: 200px;
  margin-top: 2%;
  background: white;
  width: 950px;
  height: 22px;
  border: 2px solid white;
  border-radius: 10px;
  z-index: 1000;
}

/* line 183, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#glass {
  border-radius: 5px;
  width: 950px;
  height: 22px;
  position: relative;
}

/* line 190, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#water {
  background-image: url("waves.png");
  background-position: 100% 0%;
  position: absolute;
  left: 1px;
  width: 170px;
  height: 22px;
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 206, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.timerButtonContainer {
  background-color: #E1E1E3;
  width: 35px;
  height: 35px;
  border-radius: 35px;
  cursor: pointer;
  position: absolute;
  top: 230px;
  left: 740px;
}

/* line 217, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.timerButtonContainer:hover .upvote {
  border-bottom: 15px solid white;
}

/* line 221, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.timerButtonContainer:hover .downvote {
  border-top: 15px solid white;
}

/* line 225, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.timerButtonContainer:hover {
  background-color: #1D354C;
}

/* line 229, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.progress-bar-container {
  background-color: #E5E9EE;
  height: 120px;
  margin-left: -7px;
  width: 102%;
  margin-top: 100px;
  margin-bottom: -8px;
  position: absolute;
  top: 460px;
}

/* line 240, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.progress-bar-hashmark {
  width: 0px;
  background-position: 100% 0%;
  margin-left: 24%;
  font-size: 18px;
  color: #E5E9EE;
  padding-bottom: 8px;
  display: inline-block;
  padding-bottom: 11px;
  position: absolute;
  bottom: -8px;
  z-index: 0;
  font-weight: 100;
}

/* line 255, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.progress-bar-hashmark:nth-child(2) {
  margin-left: 47.4%;
}

/* line 259, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.progress-bar-hashmark:nth-child(3) {
  margin-left: 70.4%;
}

/* line 263, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.progress-bar-image {
  position: relative;
}

/* line 267, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.progress-bar-image-caption {
  position: relative;
  top: 15px;
  font-size: 10px;
  font-family: 'lato';
}

/* line 274, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.image-caption-teacup {
  left: 380px;
}

/* line 278, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.image-caption-meditate {
  left: 510px;
}

/* line 282, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.image-caption-snack {
  left: 640px;
}

/* line 286, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.image-caption-bench {
  left: 840px;
}

/* line 290, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#teacup-image {
  left: 425px;
}

/* line 294, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#meditate-image {
  left: 555px;
}

/* line 298, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#snack-image {
  left: 685px;
}

/* line 302, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#bench-image {
  left: 875px;
}

/* line 306, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.daily-counter {
  width: 70px;
  height: 75px;
  background-color: #122F4A;
  position: absolute;
  margin-top: 18px;
  margin-left: 60px;
  border-radius: 6px;
}

/* line 316, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.daily-count {
  background-color: white;
  height: 65%;
  border-radius: 2px;
  text-align: center;
  font-size: 30px;
  font-family: 'lato';
  font-weight: 300;
  color: #122F4A;
  margin-top: 0px;
  padding-top: 5px;
}

/* line 329, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.daily-name {
  text-align: center;
  font-family: 'lato';
  color: white;
}

/* line 338, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.overlay, .overlay2 {
  width: 105%;
  height: 175%;
  background-color: #14304B;
  position: absolute;
  top: -25px;
  left: -8px;
  z-index: 999999;
  opacity: 0.95;
}

/* line 349, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.overlay2 {
  background-color: #6FB18C;
}

/* line 353, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.overlay-text {
  position: absolute;
  top: 200px;
  color: white;
  font-size: 30px;
  font-family: 'Lato';
  font-weight: 100;
  text-align: center;
  left: 50%;
  margin-left: -308px;
}

/* line 365, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.overlay-button-yes {
  position: absolute;
  top: 283px;
  right: 600px;
  position: absolute;
  left: 45%;
  margin-left: -190px;
}

/* line 374, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.overlay-exit {
  position: absolute;
  top: 6px;
  right: 65px;
  font-size: 50px;
  font-family: sans-serif;
  color: white;
  font-weight: 300;
  cursor: pointer;
}

/* line 385, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.overlay-button-no {
  position: relative;
  top: 303px;
  left: 695px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: 20px;
  left: 48%;
}

/* line 394, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.overlay-image-smiley {
  margin-left: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 400, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.second-overlay-text {
  top: 300px;
}

/* line 405, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.how-to-container {
  width: 102%;
  display: inline-block;
  position: absolute;
  top: 720px;
  margin-left: -7px;
}

/* line 413, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.panel-centered-title {
  text-align: center;
  padding-top: 100px;
}

/* line 418, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.panel {
  height: 400px;
  width: 100%;
  BACKGROUND-COLOR: white;
  margin-top: -61px;
}

/* line 425, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.panel-main {
  margin: 0 auto;
  width: 600px;
  position: relative;
  right: 130px;
}

/* line 432, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.panel-text {
  width: 600px;
  font-size: 20px;
  font-family: 'lato';
  text-align: center;
}

/* line 439, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.carrot {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid white;
  position: relative;
}

/* line 448, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.carrot1 {
  position: absolute;
  left: 680px;
  top: 299px;
}

/* line 454, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.carrot2, .carrot5, .carrot6 {
  left: 680px;
  border-top: 25px solid  #5eba8b;
}

/* line 459, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.carrot3 {
  left: 680px;
  border-top: 25px solid #122F4A;
}

/* line 464, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.carrot4 {
  left: 680px;
  border-top: 25px solid #4A88AE;
}

/* line 469, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.carrot5 {
  border-top: 25px solid #F3D44D;
}

/* line 472, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.carrot6 {
  border-top: 25px solid #CE4A4C;
}

/* line 476, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#flipclock-image {
  position: relative;
  left: 105px;
  top: 50px;
}

/* line 482, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.left-panel-image {
  position: relative;
  left: 105px;
  top: 50px;
}

/* line 488, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
footer {
  background-color: #1A1A1A;
  position: absolute;
  top: 3100px;
  left: -10px;
  width: 125%;
  height: 50px;
}

/* line 498, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.title2 {
  position: relative;
  top: 100px;
  margin-left: 7%;
  display: inline;
}

/* line 505, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.body-position-left {
  width: 550px;
  position: relative;
  top: 100px;
  left: 100px;
}

/* line 512, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.body-position-right {
  width: 550px;
  position: relative;
  left: 800px;
  bottom: 100px;
}

/* line 519, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.right-panel-image {
  position: relative;
  left: 1000px;
  bottom: 40px;
}

/* line 526, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
#time-clock {
  bottom: 100px;
}

/* line 531, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.light-green {
  background-color: #5eba8b;
}

/* line 535, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.light-blue {
  background-color: #4A88AE;
}

/* line 538, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.blue {
  background-color: #122F4A;
}

/* line 542, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.yellow {
  background-color: #F3D44D;
}

/* line 546, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.red {
  background-color: #CE4A4C;
}

/* line 550, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
.white-text {
  color: white;
}

/* line 554, /Users/garrethdottin/Desktop/Pomodora-sass/app/assets/stylesheets/user.css.scss */
footer .white-text {
  text-align: center;
}
