h1,h2,h3,p, span, input {
  font-family: 'Lato', sans-serif;
}

h1, h3{
  font-weight: 300;
}

p {
  font-weight:100;
}

 .off-canvas-wrap a {
  color: black !important;
}

.todo-title {
  font-weight: 300;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  cursor: text;
}

@media only screen and (max-width: 52em) {
  .panel_textL {
    padding: 50px 50px 50px 0 !important;
    float: left;
    width: 430px !important;
    padding-right: 0px !important;
  }
}

<<<<<<< HEAD
@media only screen and (max-width: 69.875em) {
  .timerButtonContainer, .your-clock {
    z-index: 0 !important;
  }
}

=======
>>>>>>> 9c700433913618e727c323e8807e457782958e03
@media only screen and (max-width: 49.750em) {
  .timerButtonContainer {
    display: none !important;
  }
}

@-webkit-keyframes todoopen-animation {
  from {
    padding-right: 0%;
  }
  to {
    padding-right: 25%;
  }
}

@-webkit-keyframes todoclosed-animation {
  from {
    padding-right: 25%;
  }
  to {
    padding-right: 0%;
  }
}

.todo-open {
  -webkit-animation-name: todoopen-animation;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.body-initial {
  padding-right: 25%;
}

.todo-closed {
  -webkit-animation-name: todoclosed-animation;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}


