h1,h2,h3,p, span, input {
  font-family: 'Lato', sans-serif;
}

h1, h3{ 
	font-weight: 300;
}

p { 
	font-weight:100;
}

 .off-canvas-wrap a { 
	color: black !important;
} 

.todo-title {
  font-weight: 100;
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  cursor: text;
}