
//General Colors
$todo-background: white;

$shadow-color: #000;
$item-separator-color: #FFF;
$borders-color: #F6F6F6;



//TITLE


// ANCHOR OR LABEL
$lbl-font-color: #000;
$lbl-hover-background-color: white;
$lbl-active-background-color: white;
$lbl-active-font-color: white;

// BUTTONS
$btn-background-color: #06C0F2;
$btn-font-color: #000;
$caret-color-closed: #000;
$caret-color-opened: #000;

// SIZES
$spmenu-vertical-width: 330px;
$spmenu-horizontal-height: 150px;

/* General styles for all menus */

.spmenu {
  background: $todo-background;
  position: fixed;
  &.spmenu-open {

  }
  ul {
    padding-left: 2px;
  }
  h3 {
    font-size: 1.9em;
    padding: 18px;
    margin: 0;
    font-weight: 300;
    text-align: center;
    border-bottom: 4px double $item-separator-color;
    display: inline-block;
  }
  a, label {
    display: block;
    color: $lbl-font-color;
    font-size: 1.1em;
    font-weight: 300;
    &:hover {
      background: $lbl-hover-background-color;
    }
    &:active {
      background: $lbl-active-background-color;
      color: $lbl-active-font-color;
    }
    span {
      color: $lbl-font-color;
    }
    input {
      margin: 5px 10px 0 0 !important;
    }
    from {
      display:inline-block;
    }
  }
}

/* Button */
a.spmenu-button {
  display: none;
  position: absolute;
  top: 400px;
  border: none;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  background: white;
  text-decoration: none;
  border: none !important;
  &.show {
    display: block;
    padding: 5px;
  }
}

/* Orientation-dependent styles for the content of the menu */

.spmenu-vertical {
  width: $spmenu-vertical-width;
  height: 100%;
  top: 0;
  z-index: 1000;
  a, label {
    padding: 0;
  }
  hr {
    margin: 0;
    border: 0;
    border-top: 1px solid $item-separator-color;
  }
  .menu-item-actions, .menu-item-edit-actions {
    margin-top: 10px;
    a {
      display: inline;
    }
    i{
      color: $item-separator-color;
    }
    .menu-item-action-separator {
      color: $item-separator-color;
      display: inline-block;
      position: relative;
      top: -2px;
      margin: 0 5px;
    }
  }
}

.spmenu-horizontal {
  width: 100%;
  height: $spmenu-horizontal-height;
  left: 0;
  z-index: 1000;
  /*overflow: hidden;*/
  h3 {
    height: 100%;
    width: 20%;
    float: left;
  }
  a, label {
    float: left;
    width: 20%;
    padding: 0.8em;
  }
  hr {
    margin: 0;
    border: 0;
    border-left: 1px solid $item-separator-color;
  }
}

/* Vertical menu that slides from the left or right */

.spmenu-left {
  left: -$spmenu-vertical-width;
  border-right: 1px solid $borders-color;
  a.spmenu-button {
    left: $spmenu-vertical-width;
    top: 10px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.spmenu-right {
  z-index: 150000;
  right: -$spmenu-vertical-width;
  a.spmenu-button {
    right: $spmenu-vertical-width;
    top: 240px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 42px;
    padding-bottom: 15px;
    border-radius: 0px !important;
  }
}

/* Horizontal menu that slides from the top or bottom */

.spmenu-top {
  top: -$spmenu-horizontal-height;
  border-bottom: 1px solid $borders-color;
  a.spmenu-button {
    left: 10px;
    top: $spmenu-horizontal-height;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.spmenu-bottom {
  bottom: -$spmenu-horizontal-height;
  border-top: 1px solid $borders-color;
  a.spmenu-button {
    left: 10px;
    bottom: $spmenu-horizontal-height;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}

/* Push classes applied to the body */

.spmenu-push {
//  overflow-x: hidden;
  position: relative;
  left: 0;
}

.spmenu-push-toright {
  left: $spmenu-vertical-width;
}

.spmenu-push-toleft {
  left: -$spmenu-vertical-width;
}

/* Transitions */

.hidetodoitem {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

.push-todo-list-left {
  padding-right: 400px !important;
  transition: padding-right 1.5s;
}

.push-todo-list-right {
  padding-left: 400px !important;
  transition: padding-left 1.5s;
}

.spmenu, .spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries */

@media screen and (max-width: 55.1875em) {
  .spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }
  .spmenu-top {
    top: -110px;
  }
  .spmenu-bottom {
    bottom: -110px;
  }
}

@media screen and (max-height: 26.375em) {
  .spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }
  .spmenu-left, .spmenu-push-toleft {
    left: -190px;
  }
  .spmenu-right {
    right: -190px;
  }
  .spmenu-push-toright {
    left: 190px;
  }
}

.opacitychange {
  opacity: .9 !important;
}


.todo-title {
  text-align: center;
  font-size: 36px;
  margin-top: 100px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
}

::-webkit-input-placeholder {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

.img-plus-sign {
  position: relative;
  top: 13px;
}

.img-pencil {
  position: relative;
  top: 9px;
}


.img-checkmark {
  position: relative;
  top: 10px;
  opacity: .4;
  left: 10px;
  cursor: pointer;
}

.img-padding {
  padding-bottom: 3px;
  border-radius: 3px;
}

.ul-todo-list {
  margin-left: 0px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 318px;
  margin-bottom: 0px;
}
.exit-mark {
  position: absolute;
  right: 1px;
  top: 9px;
  cursor: pointer;
}

#panel2 {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 366px;
}


.todo-item {
  border-width: 0px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 400;
  border-top: solid #F6F6F6 1px;
  max-height: 30px;
  background-color: transparent;
  width: 105%;
}

.todo-exitbutton {
  font-size: 40px;
  position:absolute;
  left: 280px;
  top: 10px;
  cursor: pointer;
}

.todo-item-margin {
  position: relative;
  left: 15px;
  top: 12px;
  cursor: text;
  font-size: 15px;
  background-color: transparent;
}

.todoclosed {
  right: -320px;
}

.todo-inline-edit {
  font-size: 15px !important;
  font-weight: 500;
  border: none !important;
  position: absolute;
  left: 25px;
  bottom: -17px;
  cursor: text;
  padding-bottom: 13px;
  font-family: 'Lato', sans-serif !important;
  color: black !important;
  background-color: transparent !important;
}

.todo-cancel-button {
  position: relative;
  left: 275px;
  top: -19px;
  opacity: .6;
  cursor: pointer;
}

.todo-edit-button {
  position: relative;
  left: 150px;
  top: 2px;
}

.todo-input {
  text-align: left;
  padding-left: 15px;
  font-size: 15px;
  display: inline-block;
  height: 40px;
  width: 320px;
  font-wieght: 300;
}


//Stored Todo-List
.stored-todo-list {
  margin-left: -5px;
}
.stored-item-margin {
  position: relative;
  left: 2px;
  top: 13px;
}

.tabs dd.active a, .tabs .tab-title.active a {
  background-color: #e1e1e1;
}

.tabs dd > a, .tabs .tab-title > a {
  background-color: white;
}

#timestamp {
  position: relative;
  display: inline-block;
  float: right;
  top: 14px;
  margin-right: 5%;
}

.index-number {
  position: relative;
  top: 13px;
  font-size: 15px;
}

dd {
  text-align: center;
}

.tabs dd > a, .tabs .tab-title > a {
  width: 150px;
}

.content {
  padding-top: 1px !important;
}

.stored-item {
  position: relative;
  right: 17px;
  padding-left:31px;
}

.todo-panel {
  position: relative;
  bottom:76px;
}

input[type=text]:focus, input[type=text]:active, input[type=text]:focus:active {
  outline: 0;
}

.noshadow {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.off-canvas-wrap {
  height: 700px;
  bottom: 473px;
}

.inner-wrap {
  height: 100%;
}

.right-off-canvas-wrap {
  height: 580px !important;
}

.right-off-canvas-menu {
  background: white !important;
  cursor: text;
}

.exit-off-canvas {
  box-shadow: none !important;
}

.off-canvas-button {
  box-shadow: none;
  position: absolute;
  font-size: 25px;
  text-align: center;
  background: #122F4A;
  text-decoration: none;
  border: none !important;
  right: -2px;
  top: 262px;
  padding: 10px !important;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.off-canvas-button:hover {
  opacity: .95;
}

.notifyusertodolist {
  -webkit-animation: button-change 7s;
  animation: button-change 7s;
}
@-webkit-keyframes button-change {
  0%   {opacity: 1;}
  20%  {opacity: .8}
  40%  {opacity: 1;}
  60%  {opacity: .8}
  80%  {opacity: 1;}
  100% {opacity: .8;}
}

@keyframes button-change {
  0%   {opacity: 1;}
  20%  {opacity: .8}
  40%  {opacity: 1;}
  60%  {opacity: .8}
  80%  {opacity: 1;}
  100% {opacity: .8;}
}

