// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$bottom: bottom;
$top: top;
$spacing: 30px;

%reset-style {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// GENERAL
$menu-background-color: #65CFF0;
$shadow-color: #000;
$item-separator-color: #FFF;
$borders-color: #65CFF0;

// TITLE
$title-background-color: #06C0F2;
$title-font-color: #000;

// ANCHOR OR LABEL
$lbl-font-color: #000;
$lbl-hover-background-color: #65CFF0;
$lbl-active-background-color: #65CFF0;
$lbl-active-font-color: #000;

// BUTTONS

$btn-background-color: #06C0F2;
$btn-font-color: #000;
$caret-color-closed: #000;
$caret-color-opened: #000;

// SIZES
$spmenu-vertical-width: 320px;
$spmenu-horizontal-height: 150px;

/* General styles for all menus */

.spmenu {
  background: $menu-background-color;
  position: fixed;
  &.spmenu-open {
    -moz-box-shadow: -20px 0px 30px $shadow-color;
    -webkit-box-shadow: -20px 0px 30px $shadow-color;
    box-shadow: -20px 0px 30px $shadow-color;
  }
  h3 {
    color: $title-font-color;
    font-size: 1.9em;
    padding: 18px;
    margin: 0;
    font-weight: 300;
    background: $title-background-color;
    text-align: center;
    border-bottom: 4px double $item-separator-color;
  }
  h4 {
    color: $title-font-color;
  }
  a, label {
    display: block;
    color: $lbl-font-color;
    font-size: 1.1em;
    font-weight: 300;
    &:hover {
      background: $lbl-hover-background-color;
    }
    &:active {
      background: $lbl-active-background-color;
      color: $lbl-active-font-color;
    }
    span {
      color: $lbl-font-color;
    }
    input {
      margin: 5px 10px 0 0 !important;
    }
  }
}

/* Button */
a.spmenu-button {
  display: none;
  position: absolute;
  border: none;
  font-size: 25px;
  text-align: center;
  padding: 10px;
  background: $btn-background-color;
  color: $btn-font-color;
  text-decoration: none;
  -moz-box-shadow: -8px 4px 10px $shadow-color;
  -webkit-box-shadow: -8px 4px 10px $shadow-color;
  box-shadow: -8px 4px 10px $shadow-color;
  border: none !important;
  &.show {
    display: block;
  }
  &.active {
    background: $lbl-active-background-color;
    color: $lbl-active-font-color;
    i, span {
      color: $caret-color-opened;
    }
    .caret {
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      border-right: 4px solid transparent;
      border-left: 4px solid $caret-color-opened;
      display: inline-block;
      height: 0;
      opacity: 1;
      vertical-align: top;
      width: 0;
    }
  }

  .caret {
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    border-left: 4px solid transparent;
    border-right: 4px solid $caret-color-closed;
    display: inline-block;
    height: 0;
    opacity: 1;
    vertical-align: top;
    width: 0;
    margin: 6px;
  }
}

/* Orientation-dependent styles for the content of the menu */

.spmenu-vertical {
  width: $spmenu-vertical-width;
  height: 100%;
  top: 0;
  z-index: 1000;
  a, label {
    padding: 0;
  }
  hr {
    margin: 0;
    border: 0;
    border-top: 1px solid $item-separator-color;
  }
  .menu-item-actions, .menu-item-edit-actions {
    margin-top: 10px;
    a {
      display: inline;
    }
    i{
      color: $item-separator-color;
    }
    .menu-item-action-separator {
      color: $item-separator-color;
      display: inline-block;
      position: relative;
      top: -2px;
      margin: 0 5px;
    }
  }
}

.spmenu-horizontal {
  width: 100%;
  height: $spmenu-horizontal-height;
  left: 0;
  z-index: 1000;
  /*overflow: hidden;*/
  h3 {
    height: 100%;
    width: 20%;
    float: left;
  }
  a, label {
    float: left;
    width: 20%;
    padding: 0.8em;
  }
  hr {
    margin: 0;
    border: 0;
    border-left: 1px solid $item-separator-color;
  }
}

/* Vertical menu that slides from the left or right */

.spmenu-left {
  left: -$spmenu-vertical-width;
  border-right: 1px solid $borders-color;
  a.spmenu-button {
    left: $spmenu-vertical-width;
    top: 10px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.spmenu-right {
  right: -$spmenu-vertical-width;
  border-left: 1px solid $borders-color;
  a.spmenu-button {
    right: $spmenu-vertical-width;
    top: 10px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

/* Horizontal menu that slides from the top or bottom */

.spmenu-top {
  top: -$spmenu-horizontal-height;
  border-bottom: 1px solid $borders-color;
  a.spmenu-button {
    left: 10px;
    top: $spmenu-horizontal-height;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.spmenu-bottom {
  bottom: -$spmenu-horizontal-height;
  border-top: 1px solid $borders-color;
  a.spmenu-button {
    left: 10px;
    bottom: $spmenu-horizontal-height;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
  }
}

/* Push classes applied to the body */

.spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.spmenu-push-toright {
  left: $spmenu-vertical-width;
}

.spmenu-push-toleft {
  left: -$spmenu-vertical-width;
}

/* Transitions */

.spmenu, .spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Example media queries

@media screen and (max-width: 55.1875em) {
  .spmenu-horizontal {
    font-size: 75%;
    height: 110px;
  }
  .spmenu-top {
    top: -110px;
  }
  .spmenu-bottom {
    bottom: -110px;
  }
}

@media screen and (max-height: 26.375em) {
  .spmenu-vertical {
    font-size: 90%;
    width: 190px;
  }
  .spmenu-left, .spmenu-push-toleft {
    left: -190px;
  }
  .spmenu-right {
    right: -190px;
  }
  .spmenu-push-toright {
    left: 190px;
  }
}

*/

%white-centered-container {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-top-color: rgb(223, 224, 228);
  border-right-color: rgb(223, 224, 228);
  border-bottom-color: rgb(208, 209, 213);
  border-left-color: rgb(223, 224, 228);
  -webkit-border-radius: 3px;
}



%centered-main-content {
  margin: 0 auto;
  width: 50%;
}

@mixin flat-ui-button($size: 80px, $color:#E3C393) {
  width: $size;
  height: 25px;
  border: none;
  border-radius: 3px;
  background-image: linear-gradient(transparent,rgba(0,0,0,0.05));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 0 -3px 0 rgba(0,0,0,0.1) inset;
  -moz-box-shadow: 0 -3px 0 rgba(0,0,0,0.1) inset;
  box-shadow: 0 -3px 0 rgba(0,0,0,0.1) inset;
  text-shadow: 0 1px 0 rgba(0,0,0,0.25);
  background-color: $color;
  color: #FFF;
  cursor: pointer;
  margin-right: 10px;
}

@mixin fixed-nav-bar($bottom) {
  height: 40px;
  width: 100%;
  position: fixed;
  #{$bottom}: 0px;
}

body {
  @extend %reset-style;
  font-size: 10px;
  background: url('background.jpg');
}

header {
  @include fixed-nav-bar($top);
  height: 4em;
  background: url('menu-background.jpg');
  border-bottom: 1.5px solid #a5a9b6;
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15), 0px -4px 20px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.15), 0px -4px 20px rgba(0, 0, 0, 0.20);
  z-index: 100;
}
.logo {
  display: inline-block;
  position: relative;
  top: 8px;
}

.title {
  float: left;
  margin-left: 10px;
  margin-top: -10px;
}

.title h1, .title h6 {
  display: inline-block;
}

.title h6 {
  font-family: 'Open Sans',Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.title img {
  position: relative;
  top: 8px;
}

#que {
  position: relative;
  height: 93%;
  width: 60px;
  padding-bottom: 2px;
  color: white;
  padding-left: 2px;
  border-left: solid #cccccc 1px;
  display: inline-block;
  float: right;
  right: 1px;
}

#que h4 {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#que-dropdown {
  width: 200px;
  height: 250px;
  display: inline-block;
  background-color: #2f2f2f;
  color: white;
  opacity: .85;
  border-radius: 3px;
  box-shadow: 0 0 10px #333;
  position: absolute;
  top: 40px;
  right: 85px;
  z-index: 100;
  visibility: hidden;
}

#que-dropdown p {
  font-size: 20px;
  margin-bottom: 0px
}
#que-list {
  position: relative;
  height: 45%;
  font-size: 16px;
  cursor: pointer;
}
hr {
  background-color: white;
  width: 95%;
  text-align:center;
}
#que-dropdown button {
  @include flat-ui-button($size: 40px);
  color: white;
  height: 32px;
  width: 80%;
  margin: 0px auto;
  margin-top: 5px;
  position: relative;
  right: 18px;
}

#que-dropdown input {
  width: 85%;
  text-align: center;
  margin-top: 0px;
}

.que-add {
  width: 40px;
  background-color: #326795;
  opacity: .95;
  float: right;
  width: 10%;
  height: 100%;
  padding-left: 5px;
  color: white;
  border-left: solid grey 1px;
}

.menu-container h3 {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding-top: 15px;
}

.counter-container {
  position: relative;
  height: 92%;
  width: 80px;
  padding-bottom: 2px;
  color: white;
  padding-left: 2px;
  border-left: solid #cccccc 1px;
  display: inline-block;
  float: right;
  right: 1px;
}

#pomodoro-count {
  position: relative;
  padding-top: 2px;
  padding-left: 5px;
  font-size: 16px;
}

#about {
  position: absolute;
  top: 0px;
  margin-left: 80px;
  width: 300px;
  color: #474747;
  padding-bottom: 5px;
}

#about img {
  position: relative;
  top: 5px;
}

#about h3 {
  display: inline;
}

.counter-container h4 {
  margin-top: 7px;
}

main h2 {
  margin-bottom: 15px;
  font-size: 30px;

}

main {
  @extend %centered-main-content;
  margin-top: 47px;
  text-align:center;
  overflow: scroll;
}

.timer-container h1 {
  font-size: 100px;
  color: #474747;
  margin-top: 15px;
}

.timer-container {
   box-shadow: 0px 2px 0px #b8b8b8,0px 2px 2px rgba(0,0,0,0.6);
  border-radius: 250px;
  position: relative;
  height: 160px;
  background-color: transparent;
  width: 350px;
  border-color: #326795;
  border-width: 35px;
  color: #474747;
  opacity: .9;
  margin: 0px auto;
  margin-bottom: 20px;
  border-style: solid;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  box-shadow: 0px -2px 0px #2e5f8a;
  border-bottom: 50px solid #2e5f8a;
  border-top: solid transparent;
  position: absolute;
  margin-left: -51px;
  margin-top: -100px;
  box-shadow: 0px 3px 0px #2e5f8a;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 50px solid #2e5f8a;
  box-shadow: 0px -2px 0px #2e5f8a;
  margin-left: 325px;
  margin-top: -90px;
}

@-moz-document url-prefix() {
    .timer-container {padding-top:1.5em;}
}

.button-container {
  width: 100%;
  margin: 0 auto;
  margin-top: -18px;
}

.button-container button {
  width: 90px;
  height: 90px;
  margin: 10px;
  background: #00B9A7;
  color: white;
}

#five {
  position:relative;
  padding-left: 15px;
}

.button-container h4 {
  text-align: left;
  margin: 2px;
}

main button {
  @include flat-ui-button;
}

main input {
  width: 35%;
  border-radius: 5px;
  height: 30px;
  margin-top: $spacing;
}

.hidden-image {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
}

.about-container {
  display: none;
  font-size: 26px;
  padding: 12px;
  color: #326795;
  margin: 10px;
}

#start,#yes, #no {
  height: 30px;
}

#yes, #no {
  display: none;
  margin-top: 22px;
}

#slider-range-min, .ui-slider-handle, .ui-slider-range {
  -webkit-background-clip: border-box;
  -webkit-background-origin: padding-box;
  -webkit-background-size: auto;
  background-origin: padding-box;
  background-attachment: scroll;
  background-clip: border-box;
  background-size: auto;
}

#slider-range-min {
  @extend centered-main-content;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: solid 1px rgb(170, 170, 170);
  border-image-width: 1;
  border-width: 1px;
  color: rgb(34, 34, 34);
  height: 8.796875px;
  position: relative;
  text-align: left;
  width: 290px;
  position: relative;
  margin: 0 auto;
}

.ui-slider-handle {
  background-color: #326795;
  border-radius: 4px;
  border: solid 1px #326795;
  border-image-width: 1;
  color: rgb(85, 85, 85);
  height: 13.1875px;
  left: 28.21875px;
  margin-left: -6.599999904632568px;
  position: absolute;
  text-align: left;
  top: -3.299999952316284px;
  width: 20.1875px;
}

.ui-slider-range {
  background-image: url(http://code.jquery.com/ui/1.10.4/themes/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png);
  background-size: auto;
  border: solid 1px rgb(34, 34, 34);
  border-radius: 4px;
  border-style: none;
  border-width: 0px;
  border-image-slice: 100%;
  color: rgb(34, 34, 34);
  display: block;
  height: 8.796875px;
}

footer {
  @include fixed-nav-bar($bottom);
  background: #5c5c5c;
  border-top: 1px solid #57544c;
  height: 44px;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.4);
  box-shadow: inset 0 0 1px rgba(255,255,255,0.4);
}

.progressbar, .newsfeed-container {
  float: left;
  margin-top: 2.5px;
  border-radius: 5px;
  border: 1px solid white;
  height: 37px;
  margin-left: 5px;
}

.progressbar {
  width: 99%;
  background-color: white;
  opacity: .9;
  border: 1px solid grey;
}

.newsfeed-container {
  width: 20%;
  border: 1px solid grey;
  box-shadow: inset 0 0 -1px #000000;
  overflow: hidden;
  border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255,255,255,0.08),inset 1px 1px rgba(255,255,255,0.06);
  background-color: #2f2f2f;
  opacity: .9;
  color: white;
}

.small-image-container {
  width: 40px;
  height: 40px;
  border-right: 1px solid black;
}

.progressbar div {
  height: 100%;
  color: #fff;
  width: 0px;
  background-color: #23C77D;
  border-radius: 3px;
}

#newsfeed {
  position: relative;
  bottom: 42px;
  left: 43px;
  padding-left: 2px;
  font-size: 14px;
  width: 200px;
}

.sign-in-partial {
  display: none;
  width: 100%;
  background-color: white;
  opacity: .8;
}

.social-wrap {
  position: fixed;
  left: 30%;
  top: 25%;
  max-width: 450px;
  padding: 30px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);
  z-index: 100;
  border-radius: 5px;
}

#facebook {
  margin-top: 10px;
  margin-left: 130px;
  padding: 7px 14px;
  border: 2px solid #4A65A0;
  background: #4A65A0;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

a {
  font-weight: bold;
  color: #fff;
}

#current-user {
  visibility: hidden;
}

#stop-button {
@include flat-ui-button($color: #b95e5b);
  height: 30px;
  display: none;
}


@media only screen and (max-width: 400px) {
  .counter-container {
    right: .5em;
    display: inline;
  }

  body {
    font-size: 10px;
  }
  main  h2{
    font-size: 150%;
  }

  #countdown {
    font-size: 500%;

  }

  .title {
    width: 65%;
  }

  .title h1 {
    font-size: .75em;
  }

}

@media only screen and (max-width: 900px) {
  main {
    overflow: visible;
  }
}